<div class="row m-2 " id="button">
    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center mt-1 col-xs-12 col-xl-4">
        <a routerLink="managercrud" routerLinkActive="actvcomp"><button class="btn btn-primary text-nowrap">Manage Manager</button></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center mt-1 col-xs-12 col-xl-4">
        <a routerLink="employeecrud" routerLinkActive="actvcomp"><button class="btn btn-primary text-nowrap">Manage Employee</button></a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 d-flex justify-content-center mt-1 col-xs-12 col-xl-4">
        <a routerLink="usercrud" routerLinkActive="actvcomp"><button class="btn btn-primary text-nowrap">Manage Customer</button></a>
    </div>
</div>
<router-outlet></router-outlet>