.error{
    color: red;
    position:relative;
    left:50px;
}
.valid {
	border-left: 5px solid #42A948; /* green */
    border: 3px solid green;
}
.invalid{
	border-left: 5px solid #a94442; /* red */
    border: 3px solid red;
}
